.boardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 50vw;
  width: 50vw;
}

.board {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.cross {
height: 100px;
position: relative;
width: 20px;
}
.cross:after {
background: red;
content: "";
height: 20px;
left: -40px;
position: absolute;
top: 40px;
width: 100px;
transform: rotate(45deg);
}
.cross:before {
background: red;
content: "";
height: 20px;
left: -40px;
position: absolute;
top: 40px;
width: 100px;
transform: rotate(-45deg);
}

td {
  border: 5px solid transparent;
}
